<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>RappiPay Transaction Fraud Prediction with XGBClassifier</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <input type="text" name="Limite TC(0-99000)" placeholder="Limite TC(0-99000)" required="required" /><br>
    	<input type="text" name="Tasa Interes TC(0-100)" placeholder="Tasa Interes TC(0-100)" required="required" /><br>
        <input type="text" name="Monto de transaccion" placeholder="Monto de transaccion" required="required" /><br>
        <input type="text" name="Hora de transaccion(0-23)" placeholder="Hora de transaccion(0-23)" required="required" /><br>
        <input type="text" name="is_prime(1,0)" placeholder="is_prime(1,0)" required="required" /><br>
        <input type="text" name="Genero F(1,0)" placeholder="Genero F(1,0)" required="required" /><br>
        <input type="text" name="Genero Otro(1,0)" placeholder="Genero Otro(1,0)" required="required" /><br>
        <input type="text" name="Compra en línea(1,0)" placeholder="Compra en línea(1,0)" required="required" /><br>
        <input type="text" name="Compra en Farmacia(1,0)" placeholder="Compra en Farmacia(1,0)" required="required" /><br>
        <input type="text" name="Compra en Supermercado(1,0)" placeholder="Compra en Supermercado(1,0)" required="required" /><br>
        <input type="text" name="Compra en Tienda departamental(1,0)" placeholder="Compra en Tienda departamental(1,0)" required="required" /><br>
        <input type="text" name="Compra en lugar desconocido(1,0)" placeholder="Compra en lugar desconocido(1,0)" required="required" /><br>
        <input type="text" name="Ciudad de México(1,0)" placeholder="Ciudad de México(1,0)" required="required" /><br>
        <input type="text" name="Guadalajara(1,0)" placeholder="Guadalajara(1,0)" required="required" /><br>
        <input type="text" name="Monterrey(1,0)" placeholder="Monterrey(1,0)" required="required" /><br>
        <input type="text" name="Nezahualcóyotl(1,0)" placeholder="Nezahualcóyotl(1,0)" required="required" /><br>
        <input type="text" name="Tijuana(1,0)" placeholder="Tijuana(1,0)" required="required" /><br>
        <input type="text" name="Toluca(1,0)" placeholder="Toluca(1,0)" required="required" /><br>
        <input type="text" name="Txn En proceso(1,0)" placeholder="Txn En proceso(1,0)" required="required" /><br>
        <input type="text" name="Txn_Rechazada(1,0)" placeholder="Txn_Rechazada(1,0)" required="required" /><br>
        <input type="text" name="Marca Huawei(1,0)" placeholder="Marca Huawei(1,0)" required="required" /><br>
        <input type="text" name="Marca Motorola(1,0)" placeholder="Marca Motorola(1,0)" required="required" /><br>
        <input type="text" name="Marca Samsung(1,0)" placeholder="Marca Samsung(1,0)" required="required" /><br>
        <input type="text" name="Proveedor Movistar(1,0)" placeholder="Proveedor Movistar(1,0)" required="required" /><br>
        <input type="text" name="Proveedor Telcel(1,0)" placeholder="Proveedor Telcel(1,0)" required="required" /><br>


       

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
  
   
 </div>
 {{prediction_text}}

</body>
</html>